---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Startpakket",
    price: "€1.500,- per project",
    popular: false,
    features: [
    "Voor kleine bedrijven of startups die hun eerste stappen in de digitale marketing zetten.",
" Ontwerp en ontwikkeling van 1 landingspagina ",
" Basis zoekmachineoptimalisatie (SEO) ",
   " Setup van Google Analytics en basis tracking",
   " Eenvoudige rapportage van websiteverkeer en conversies",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Startup",
    price: {
      monthly: "$19",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "All Free Features",
      "Up to 20 users",
      "20 Custom domains",
      "Unlimited Collaborators",
      "Advanced Integrations",
      "Priority Support",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "All Pro Features",
      "Unlimited Custom domains",
      "99.99% Uptime SLA",
      "SAML & SSO Integration",
      "Dedicated Account Manager",
      "24/7 Phone Support",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Onze Prijsopties</Fragment>
      <Fragment slot="desc">
        Simpele & Voorspelbare Prijzen. Geen verrassingen.
     Bij BEMAsolutions, bieden wij op maat gemaakte marketingoplossingen die perfect aansluiten bij uw bedrijfsbehoeften. Of u nu op zoek bent naar een volledig geoptimaliseerde landingspagina of een robuuste set-up van marketinganalyses, wij hebben een pakket dat bij u past. Kies uit onze drie prijspakketten voor uw complete project.

Daarnaast bieden wij flexibele onderhoudspakketten aan om uw marketingcampagnes up-to-date te houden en doorlopend te optimaliseren. Deze pakketten zijn beschikbaar per periode van 6 maanden, met prijzen op maat. 
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
