---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Startpakket",
    price: "€1.500,- per project",
    popular: false,
    features: [
    "Voor kleine bedrijven of startups die hun eerste stappen in de digitale marketing zetten.",
" Ontwerp en ontwikkeling van 1 landingspagina ",
" Basis zoekmachineoptimalisatie (SEO) ",
   " Setup van Google Analytics en basis tracking",
   " Eenvoudige rapportage van websiteverkeer en conversies",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Standaardpakket",
    price: {
    monthly: "€3.000,- per project",
    },
    popular: true,
    features: [
    "Ideaal voor groeiende bedrijven die hun online zichtbaarheid willen verbeteren en uitgebreide inzichten willen verkrijgen.", 
    "Ontwerp en ontwikkeling van maximaal 3 landingspagina's",
    "Geavanceerde SEO en A/B testing voor conversieoptimalisatie",
    "Setup van Google Analytics, Google Tag Manager en Facebook Pixel",
    "Integratie van conversietracking en lead monitoring",
    "Maandelijkse gedetailleerde rapportage van prestaties",    
    ],  
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Premiumpakket",
    price: "€5.500,- per project",
    popular: false,
    features: [
    "Voor bedrijven die een volledig geïntegreerde marketingstrategie willen met uitgebreide analyses en optimalisaties.",
    "Ontwerp en ontwikkeling van maximaal 5 landingspagina's met geavanceerde conversieoptimalisatie",
    "Volledige marketingautomatisering en retargetingoplossingen",
    "Uitgebreide setup van Google Analytics, Google Tag Manager, Facebook Pixel en Hotjar voor diepgaande analyse",
    "Implementatie van conversieattributie en multi-channel tracking",
    "Wekelijkse rapportages en continue optimalisatie van campagnes",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Onze Prijsopties</Fragment>
      <Fragment slot="desc">
        Simpele & Voorspelbare Prijzen. Geen verrassingen.
     Bij BEMAsolutions, bieden wij op maat gemaakte marketingoplossingen die perfect aansluiten bij uw bedrijfsbehoeften. Of u nu op zoek bent naar een volledig geoptimaliseerde landingspagina of een robuuste set-up van marketinganalyses, wij hebben een pakket dat bij u past. Kies uit onze drie prijspakketten voor uw complete project.

Daarnaast bieden wij flexibele onderhoudspakketten aan om uw marketingcampagnes up-to-date te houden en doorlopend te optimaliseren. Deze pakketten zijn beschikbaar per periode van 6 maanden, met prijzen op maat. 
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
