---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Geavanceerde SEO-Optimalisatie",
    description:
      "Onze oplossingen zijn geoptimaliseerd voor zoekmachines, waardoor uw website beter vindbaar is en meer organisch verkeer aantrekt.",
    icon: "bx:bxs-briefcase",
  },
  {
    title:"Responsief Ontwerp",
    description:
  "Wij creëren websites die perfect functioneren op elk apparaat, van desktops tot smartphones, om een optimale gebruikerservaring te garanderen.",
    icon: "bx:bxs-window-alt",
  },
  {
    title:"E-Commerce Integratie",
    description:
  "Met krachtige e-commerce oplossingen kunnen we uw online winkel naadloos integreren, inclusief betalingsverwerking en voorraadbeheer.",
    icon: "bx:bxs-data",
  },
  {
    title: "Data-gedreven Analytics",
    description:
    "Krijg inzicht in uw klantgedrag met geavanceerde analytics-tools die u helpen bij het nemen van strategische beslissingen en het optimaliseren van campagnes.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Persoonlijke Klantenservice",
    description:
  "Ons team van experts staat altijd klaar om u te ondersteunen en te adviseren, met een focus op persoonlijke benadering en langdurige relaties.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Schaalbare Oplossingen",
    description:
  "Onze op maat gemaakte oplossingen zijn schaalbaar en kunnen meegroeien met uw bedrijf, zodat u altijd kunt profiteren van de nieuwste technologieën en trends.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
 Versterk uw Marketing met Digitale Analytics en Webontwikkeling Inzichten </h2>
  <p class="text-lg mt-4 text-slate-600">
 Bij BemaSolutions bieden we een complete oplossing voor het opzetten van uw website, van krachtige webontwikkeling tot diepgaande digitale analytics. Ons team van experts helpt u bij elke stap van het proces, zodat u de juiste keuzes kunt maken voor uw bedrijf. Met onze op maat gemaakte strategieën en inzichten zorgt u ervoor dat uw online aanwezigheid vanaf het begin een succes is. 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
